langchain_core
langchain_community
langchain_openai 
langchain_chroma
wikipedia
python-dotenv
pydantic==2.6.1
sentence_transformers
numpy
weaviate
typing
transformers
langfuse
pypdf
langchain
openai
pathlib
dotenv
logging
weaviate-client
